{# src/AppBundle/Resources/views/Entity/AccountGroup/Binding/bounded.html.twig #}
{% extends 'AppBundle:Entity/AccountGroup/Base:item.html.twig' %}

{% block active_account_group_update_bounded_account %}
    {% if objectClass is same as('account') %}
        {{ 'class="active"' }}
    {% endif %}
{% endblock %}

{% block action_search %}
    <div id="search-widget">
        {{ render(controller('AppBundle:Dashboard/CommonDashboard:search')) }}
    </div>
{% endblock %}

{% block variable %}

    {{ bounded|raw }}

{% endblock %}
