{# src/AppBundle/Resources/views/Entity/Account/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">Название счета</a>
</th>
<th>
    <a href="#">МФО банка А</a>
</th>
<th>
    <a href="#">МФО банка Б</a>
</th>
<th>
    <a href="#">Сумма платежа</a>
</th>
<th>
    <a href="#">Процент счета</a>
</th>
