{# src/AppBundle/Resources/views/Entity/Organization/CRUD/readItem.html.twig#}
{% extends 'AppBundle:Entity/Organization/Base:item.html.twig' %}

{% block active_organization_update %}{{ 'class="active"' }}{% endblock %}

{% block data %}
    <div id="read-data-holder">
        <ul>
            <div class="separator-holder">
                <h2>Общие данные</h2>
            </div>
            
            <li>
                <div class="item key">
                    <span>{{ 'organization.name.label'|trans({}, 'forms') }}</span>
                </div>
                <div class="item value">
                    <p>{{ organization.name }}</p>
                </div>
            </li>
        </ul>
    </div>

    {% if organization.employees|length %}
        <div class="separator-holder">
            <h2>Менеджеры организации</h2>
        </div>

        {% include 'AppBundle:Entity/Employee/Binding:ancestors.html.twig' with { 'sibling': organization } only %}
    {% endif %}
{% endblock %}
