{# src/AppBundle/Resources/views/Entity/Organization/Table/tr.html.twig #}
<td class="small-fixed"><span>{{ organization.id }}</span></td>
<td>
    <span>
        {{ organization.name }}
    </span>
</td>
