{# src/AppBundle/Resources/views/Entity/AccountGroup/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">Название группы счетов</a>
</th>
<th>
    <a href="#">Организация</a>
</th>
