{# AppBundle/Resources/views/Entity/Employee/Base/item.html.twig #}
{% extends 'AppBundle:Entity/Employee:layout.html.twig' %}

{% block action_top %}
    <div class="inner categories-list-holder">
        <ul>
            <li {% block active_employee_update %}{% endblock %}>
                <a href="{{ path('employee_update', { 'id': employee.id }) }}">Данные</a>
            </li>
        </ul>
    </div>
{% endblock %}
