{# AppBundle/Resources/views/Entity/Employee/Base/item.html.twig #}
{% extends 'AppBundle:Entity/Employee:layout.html.twig' %}

{% block action_top %}
    <div class="inner categories-list-holder">
        <ul>
            <li {% block active_employee_update %}{% endblock %}>
                <a href="{{ path('employee_update', { 'id': employee.id }) }}">Данные</a>
            </li>

            {% if is_granted(constant('AppBundle\\Security\\Authorization\\Voter\\EmployeeVoter::EMPLOYEE_BIND_ORGANIZATION'), employee) %}
                <li {% block active_employee_update_bounded_organization %}{% endblock %}>
                    <a href="{{ path('employee_update_bounded', { 'objectId': employee.id, 'objectClass': 'organization' }) }}">
                        {{ 'organization_read'|trans({}, 'routes') }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
