{# src/AppBundle/Resources/views/Entity/Operator/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">ФИО</a>
</th>
<th>
    <a href="#">Должность</a>
</th>
<th>
    <a href="#">NFC-метка</a>
</th>
<th>
    <a href="#">Автосейф</a>
</th>
<th>
    <a href="#">Организация</a>
</th>
