{# src/AppBundle/Resources/views/Entity/Operator/Binding/bounded.html.twig #}
{% extends 'AppBundle:Entity/Operator/Base:item.html.twig' %}

{% block active_operator_update_bounded_nfc_tag %}
    {% if objectClass is same as('nfctag') %}
        {{ 'class="active"' }}
    {% endif %}
{% endblock %}

{% block action_search %}
    <div id="search-widget">
        {{ render(controller('AppBundle:Dashboard/CommonDashboard:search')) }}
    </div>
{% endblock %}

{% block variable %}

    {{ bounded|raw }}

{% endblock %}
