{# src/AppBundle/Resources/views/Entity/BankingMachine/Table/th.html.twig #}
<th class="small-fixed">
    <a href="#">ID</a>
</th>
<th>
    <a href="#">Серийный номер</a>
</th>
<th>
    <a href="#">Имя устройства</a>
</th>
<th>
    <a href="#">Адрес установки</a>
</th>
<th>
    <a href="#">Организация</a>
</th>
